# Fichiers macOS
.DS_Store
._*
.*

# Environnement Python
venv/
__pycache__/

# Fichiers secrets
.env

# Dossiers de téléchargements
Downloads/
Downloads_test/
*/
Historic/
venv/
.ipynb_checkpoints/

